/* -----------------------------------------
	Footer CSS
----------------------------------------- */
.footer-area {
    position: relative;
    overflow: hidden;
    z-index: 1;

    :is(p, a, span) {
        color: var(--color-light);
    }
    :is(h4) {
        color: var(--color-white);
    }
    .footer-widget {
        margin-bottom: 30px;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .navbar-brand {
            margin: 0;
            margin-bottom: 28px;
            padding: 0;
        }

        h4 {
            text-transform: capitalize;
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 25px;
        }

        .info-list {
            li {
                display: flex;
                align-items: center;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }

            i {
                color: var(--color-white);
                font-size: 20px;
                margin-inline-end: 10px;
            }
        }

        .footer-links {
            li {
                &:not(:last-child){
                    margin-bottom: 14px;
                }
            }
        }

        .footer-links,
        .info-list {
            li {
                position: relative;
                overflow: hidden;

                a {
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    .copy-right-area {
        text-align: center;
        padding: 30px 0;
    }

    .border-top{
        border-color: #444444 !important;
    }

    .newsletter-form {
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.1);
        input {
            color: var(--color-light);
            height: 55px;
            border-color: rgba($color: var(--color-white-rgb), $alpha: .1);
        }

        .btn {
            top: 5px;
            right: 5px;
            height: calc(100% - 10px);
            position: absolute;
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }
}

.footer-area.footer-2{
    
    .info-list{
        i{
            background: var(--bg-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    a{
        &:hover{
            background: var(--bg-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
}