/* -----------------------------------------
    Ratings CSS
----------------------------------------- */
.ratings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    .rate {
        background-image: url(../images/rate-star.png);
        background-position: 0 -13.5px;
        background-repeat: repeat-x;
        height: 13.5px;
        transition: all 0.5s ease-out 0s;
        width: 90px;
        margin-inline-start: -2px;
    }

    .rating-icon {
        background-image: url(../images/rate-star.png);
        background-position: 0 0;
        background-repeat: repeat-x;
        height: 13.5px;
        width: 90%;
    }

    .ratings-total {
        font-size: 12px;
        line-height: normal;
    }
}