/* -----------------------------------------
    Social Link CSS
----------------------------------------- */
.social-link {
    a {
        display: inline-block;
        text-align: center;
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin-inline-end: 10px;
        background-color: var(--color-primary);
        color: var(--color-white);

        &:last-child {
            margin: 0;
        }

        &:hover {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }

    &.style-2{
        a{
            border-radius: 50%;
            background-color: rgba(var(--color-primary-rgb), 0.1);
            color: var(--color-primary);
        }
    }
    &.rounded{
        a{
            border-radius: 50%;
        }
    }
}