

.locale-settings-package .modal-theme .item-row:not(:last-child) {
    padding-bottom: 10px;
}

.locale-settings-package .selection-list .item-row {
    background: none;
    border: none;
    color: #62646a;
    text-decoration: none;
    width: 100%;
}

.locale-settings-package .modal-theme .item-row .item-row-content.selected {
    padding: 10px 32px;
}

.locale-settings-package .selection-list .item-row .item-row-content {
    text-align: left;
}

.locale-settings-package .modal-theme .item-row .selected-icon {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    margin-right: 14px;
    -webkit-order: 0;
    order: 0;
}

.locale-settings-package .modal-theme .item-row .item-row-content {
    padding: 10px 60px;
}

.locale-settings-package .modal-title,
.locale-settings-package .btn-close {
    padding: 0 32px;
}


/** Cart total box start **/
.cart-section{
    padding: 100px 0 50px 0;
}
.return-btn{
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
}
.return-btn:hover{
    padding: 10px 20px;
    background-color: #161616;
    color: #fff;
}
.cart-total-box {
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-total-box h5 {
    font-weight: 600;
    font-size: 18px;
}

.cart-total-box ul li {
    line-height: 33px;
    width: 100%;
    font-size: 15px;
}

/** Shop checkout start **/
.shop-checkout .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    outline: 0;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.shop-checkout .form-group {
    margin-bottom: 20px;
}

.payment-box {
    margin: 0;
    margin-left: 25px;
}

.form-check-input:focus {
    box-shadow: none;
}

.payment-box .form-check-label {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

.payment-box .form-check-input {
    position: absolute;
    margin-top: 3px;
    margin-left: -25px;
}

.shop-info .reviews-box {
    padding: 10px 0;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 20px;
    box-shadow: none;
}

.shop-info .reviews-box ul li {
    float: left;
    font-size: 12px;
    line-height: 25px;
}

.shop-info .btn-md {
    padding: 13px 5px 11px 5px;
    letter-spacing: 1px;
}

.shop-info .reviews-box ul li i {
    margin-right: 1px;
    color: orange;
}

.shop-info .reviews-box .reviews {
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 25px;
}

.shop-info .reviews-box .reviews a {
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 1px #777;
    color: #424040;
}

.shop-info .reviews-box .reviews a i {
    margin-right: 5px;
}

.shop-info .reviews-box .reviews a:last-child {
    border-right: solid 1px transparent;
    padding: 0;
    margin: 0;
}

.shop-info .price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.shop-info .price del {
    margin-right: 15px;
}

.shop-info .horizontal ul li {
    line-height: 30px;
    width: 100%;
    font-size: 15px;
}

.shop-info .horizontal ul li span {
    width: 40%;
    float: left;
}

.shop-info p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.shop-info .form-control {
    width: auto !important;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    outline: 0;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.shop-info .form-group {
    margin-bottom: 20px;
}

/** SHOP table **/
table {
    width: 100%;
}

.shop-header {
    margin-bottom: 30px;
}

.shop-table.cart .product-thumbnail,
.shop-table.cart .product-name {
    padding-left: 0;
}

.shop-table.cart .product-thumbnail,
.shop-table.cart .product-name a {
    text-transform: none;
    font-size: 15px;
    color: #424040;
}

.shop-table th {
    padding: 15px 0;
    border: none;
}

.shop-table.cart td,
.shop-table.cart th {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #161616;
}

.shop-table.cart .t-600 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.shop-table.cart .product-remove {
    padding-right: 0;
}

.shop-table td {
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.shop-table.cart .product-thumbnail img {
    width: 100px;
    padding: 2px;
    background: #eaeaea;
}

.shop-table.cart .qty {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.shop-table input[type="text"],
input[type="email"],
textarea,
input[type="password"],
input[type="tel"] {
    border: 1px solid #e8e8e8;
    padding: 6px 15px;
    color: #525252;
    max-width: 100%;
    outline: none;
}
.job-board-title{
    padding: 250px 0px 100px 0px;
    background-color: #f5f5f5;
}
.applyjob-board-title{
    padding: 150px 0px 100px 0px;
    background-color: #f5f5f5;
}
.applyjob-board-title-33{
    padding: 150px 0px 100px 0px;
    background-color: #f5f5f5;
}
.job-description{
    color: #a8a8a8;
}
.apply-form{
    background-color: #09a0dc22;
}
.btn-5 {
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 10px 20px;
}
.btn-5:hover{
    background-color: var(--primary);
    color: #fff;
}


/* === BASE HEADING === */ 

.heading-1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  /* === HEADING STYLE #1 === */
.one .heading-1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one .heading-1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: var(--primary);
  }
  .one .heading-1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -50px;
    background-color: var(--primary);
  }
  
  .inner-title{
    padding: 170px 0px 100px 0px;
  }
  .inner-title-33{
    padding: 100px 0px 100px 0px;
  }

  .bi::before{
    line-height: inherit !important;
  }

  /* Product page */
  .swiper-wrapper-1{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  /* Header background color */
  .header-background-dynamic{
    background-color: var(--primary) !important;
  }

  /* Count section - cart page */
  .count-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .count-input .qty-minus,
.count-input .qty-plus {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 5px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-thm {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 768px){
    .form-control{
        width: auto !important;
    }
}

.primary-btn1 svg {
    fill: #FFFFFF !important;
    transition: 0.5s;
  }

  .primary-btn3 {
    color: #fff !important;
  }

  .primary-btn3 svg {
    color: #fff !important;
  }
  .primary-btn6{
    color: var(--title-color) !important;
  }
  header.style-2 .header-right ul li .primary-btn1 {
    color: #fff !important;
  }
  header.style-2 .header-right ul li .primary-btn1 svg {
    fill: #fff !important;
  }
  header.style-3 .nav-right ul li button.primary-btn1 {
    color: #fff !important;
  }
  header.style-3 .nav-right ul li button.primary-btn1 svg {
    fill: #fff !important;
  }

  /** Job Service info 2 start **/

.job-title{
    color: var(--primary) !important;
  }
  
  .service-info-2:hover h3 a{
    color: #fff !important;
  }
  
  .service-info-2 {
    padding: 30px 20px;
    margin-bottom: 30px;
    background: #f5f5f5;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.9s;
    position: relative;
    border-radius: 4px;
    z-index: 1;
  }
  
  
  .service-info-2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  .service-info-2:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .service-info-2 .read-more {
    font-weight: 500;
    font-size: 16px;
    background-color: var(--primary);
    padding: 10px 20px;
    color: #fff;
  }
  
  .service-info-2 h3 {
    margin-bottom: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 18px;
    font-weight: 500;
  }
  
  .service-info-2 p {
    margin-bottom: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
  }
  
  .service-info-2 .icon {
    margin: 0 auto 25px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    top: 0;
    font-size: 40px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--primary);
    border: dashed 1px var(--primary);
  }
  
  .service-info-2:hover .icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .service-info-2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.9s;
    z-index: -1;
    background-color: var(--primary);
  }
  
  .service-info-2:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  .service-info-2:hover::before {
    height: 100%;
  }
  
  .service-info-2:hover .icon {
    border: solid 1px #fff;
    background: #fff;
  }
  
  .service-info-2:hover p {
    color: #fff;
  }
  
  .service-info-2:hover h3 a {
    color: #fff;
  }
  
  .service-info-2:hover .read-more {
    color: var(--primary);
    background-color: #fff;
  }
  .content-area-apply-job{
    margin: 0px 0px 100px 0px;
  }
  .content-area-apply-title{
    margin: 100px 0px 0px 0px;
  }
  
  /* Service end */


  /* Gallery */
  .img-width-height{
    height:250px !important;
    width: 550px !important;
    object-fit: cover !important;
}

.sidebar-color{
    background-color: #f5f5f5;
}
.gallary-categories{
    font-size: 18px;
    font-weight: 600;
    color: #222;
}
.portfolio-content-inner{
    background-color: #f5f5f5;
}
.sidebar-title{
    color: #222;;
}
.pt-20{
    padding: 20px;
}

/* Gallery End */

.primary-btn2{
  color: #fff !important;
}

.top-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 15px 11%;
  border-bottom: 1px solid #eee;
  background-color: var(--primary);
}
header.style-2-inner {
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 11%;
  transition: all 0.8s ease-out 0s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: var(--primary) !important;
}

/** Contact 1 start **/
.contact-1 form .form-control {
  width: 100%;
  padding: 10px 17px;
  font-size: 15px;
  outline: none;
  color: #6c6c6c;
  border-radius: 3px;
  min-height: 50px;
  font-weight: 400;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.contact-1 .col-pad2 {
  padding: 0;
}

.contact-1 .contact-details .ci-box i {
  width: 65px;
  font-size: 25px;
  height: 65px;
  line-height: 65px;
  border-radius: 100%;
  background: #fff;
  color: #000;
  text-align: center;
}

.contact-1 .contact-details .ci-box {
  margin-bottom: 25px;
  position: relative;
}

.contact-1 .contact-details .ci-box.mb-40 {
  margin-bottom: 40px;
}

.contact-1 .detail {
  margin: 5px 0 0 20px;
}

.contact-1 .contact-details {
  background: #fff;
  padding: 50px;
  background: rgba(0, 0, 0, 0.04) url(../img/banner/img-6.png) top left repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.contact-1 .contact-details:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #191fcb;
  content: "";
  z-index: -1;
  opacity: 0.7;
}


.bg-white {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.contact-1 .contact-pad {
  padding: 50px;
}

.contact-1 .col-pad2 {
  border-right: none;
}

.contact-1 .form-group {
  margin-bottom: 20px;
}

.contact-1 form textarea {
  min-height: 240px !important;
}

.contact-1 .contact-details .ci-box h4 {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin: 0 0 5px;
}

.contact-1 h3 {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 22px;
}

.contact-1 .social-list li {
  display: inline-block;
}

.contact-1 .social-list li a {
  margin-bottom: 2px;
  color: #000;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}

.contact-1 .social-list li a:hover {
  color: #fff;
}

.contact-1 .social-list li a:hover {
  color: #fff;
}

.contact-1 .contact-details .ci-box p {
  font-size: 15px;
  color: #e1e0e0;
  margin-bottom: 0;
}

.contact-1 .contact-details .ci-box p a {
  color: #e1e0e0;
}

.contact-1 .contact-details h3 {
  color: #fff;
}

.contact-map {
  height: 350px !important;
}

.contact-map-content .map-content {
  width: 250px;
}
header.style-5{
  border-bottom: 1px solid #eee;
}
.widget {
  padding: 30px;
  border-bottom: solid 1px #e2e2e2;
}
.sidebar-title {
  font-size: 20px;
  position: relative;
  margin: 0 0 20px;
  font-weight: 600;
}
.sidebar-right {
  margin: 0 0 30px 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}