

.locale-settings-package .modal-theme .item-row:not(:last-child) {
    padding-bottom: 10px;
}

.locale-settings-package .selection-list .item-row {
    background: none;
    border: none;
    color: #62646a;
    text-decoration: none;
    width: 100%;
}

.locale-settings-package .modal-theme .item-row .item-row-content.selected {
    padding: 10px 32px;
}

.locale-settings-package .selection-list .item-row .item-row-content {
    text-align: left;
}

.locale-settings-package .modal-theme .item-row .selected-icon {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    margin-right: 14px;
    -webkit-order: 0;
    order: 0;
}

.locale-settings-package .modal-theme .item-row .item-row-content {
    padding: 10px 60px;
}

.locale-settings-package .modal-title,
.locale-settings-package .btn-close {
    padding: 0 32px;
}


/** Cart total box start **/
.cart-section{
    padding: 100px 0 50px 0;
}
.return-btn{
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
}
.return-btn:hover{
    padding: 10px 20px;
    background-color: #161616;
    color: #fff;
}
.cart-total-box {
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-total-box h5 {
    font-weight: 600;
    font-size: 18px;
}

.cart-total-box ul li {
    line-height: 33px;
    width: 100%;
    font-size: 15px;
}

/** Shop checkout start **/
.shop-checkout .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    outline: 0;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.shop-checkout .form-group {
    margin-bottom: 20px;
}

.payment-box {
    margin: 0;
    margin-left: 25px;
}

.form-check-input:focus {
    box-shadow: none;
}

.payment-box .form-check-label {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

.payment-box .form-check-input {
    position: absolute;
    margin-top: 3px;
    margin-left: -25px;
}

.shop-info .reviews-box {
    padding: 10px 0;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 20px;
    box-shadow: none;
}

.shop-info .reviews-box ul li {
    float: left;
    font-size: 12px;
    line-height: 25px;
}

.shop-info .btn-md {
    padding: 13px 5px 11px 5px;
    letter-spacing: 1px;
}

.shop-info .reviews-box ul li i {
    margin-right: 1px;
    color: orange;
}

.shop-info .reviews-box .reviews {
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 25px;
}

.shop-info .reviews-box .reviews a {
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 1px #777;
    color: #424040;
}

.shop-info .reviews-box .reviews a i {
    margin-right: 5px;
}

.shop-info .reviews-box .reviews a:last-child {
    border-right: solid 1px transparent;
    padding: 0;
    margin: 0;
}

.shop-info .price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.shop-info .price del {
    margin-right: 15px;
}

.shop-info .horizontal ul li {
    line-height: 30px;
    width: 100%;
    font-size: 15px;
}

.shop-info .horizontal ul li span {
    width: 40%;
    float: left;
}

.shop-info p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.shop-info .form-control {
    width: auto !important;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    outline: 0;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.shop-info .form-group {
    margin-bottom: 20px;
}

/** SHOP table **/
table {
    width: 100%;
}

.shop-header {
    margin-bottom: 30px;
}

.shop-table.cart .product-thumbnail,
.shop-table.cart .product-name {
    padding-left: 0;
}

.shop-table.cart .product-thumbnail,
.shop-table.cart .product-name a {
    text-transform: none;
    font-size: 15px;
    color: #424040;
}

.shop-table th {
    padding: 15px 0;
    border: none;
}

.shop-table.cart td,
.shop-table.cart th {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #161616;
}

.shop-table.cart .t-600 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.shop-table.cart .product-remove {
    padding-right: 0;
}

.shop-table td {
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.shop-table.cart .product-thumbnail img {
    width: 100px;
    padding: 2px;
    background: #eaeaea;
}

.shop-table.cart .qty {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.shop-table input[type="text"],
input[type="email"],
textarea,
input[type="password"],
input[type="tel"] {
    border: 1px solid #e8e8e8;
    padding: 6px 15px;
    color: #525252;
    max-width: 100%;
    outline: none;
}
.job-board-title{
    padding: 250px 0px 100px 0px;
    background-color: #f5f5f5;
}
.applyjob-board-title{
    padding: 200px 0px 100px 0px;
    background-color: #f5f5f5;
}
.applyjob-board-title-33{
    padding: 150px 0px 100px 0px;
    background-color: #f5f5f5;
}
.job-description{
    color: #a8a8a8;
}
.apply-form{
    background-color: #09a0dc22;
}
.btn-5 {
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 10px 20px;
}
.btn-5:hover{
    background-color: var(--primary);
    color: #fff;
}


/* === BASE HEADING === */ 

.heading-1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  /* === HEADING STYLE #1 === */
.one .heading-1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one .heading-1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: var(--primary);
  }
  .one .heading-1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -50px;
    background-color: var(--primary);
  }
  
  .inner-title{
    padding: 170px 0px 100px 0px;
  }
  .inner-title-33{
    padding: 100px 0px 100px 0px;
  }

  .bi::before{
    line-height: inherit !important;
  }

  /* Product page */
  .swiper-wrapper-1{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  /* Header background color */
  .header-background-dynamic{
    background-color: var(--primary) !important;
  }

  /* Count section - cart page */
  .count-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .count-input .qty-minus,
.count-input .qty-plus {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 5px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-thm {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 768px){
    .form-control{
        width: auto !important;
    }
}