/* ---------------------------------- */


/* Prime select box 
------------------------------------- */


/* .prime-select {
    position: relative;
    top: -2px;
    padding: 35px 15px;
} */

/* .prime-select select { */
/* display: none; */
/*hide original SELECT element: */
/* } */

.select-selected {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
    color: #000;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    display: inline-block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -2px;
    vertical-align: middle;
    transition: 0.35s;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
}


/* style the items (options), including the selected item: */

.select-items div {
    color: #30303c;
    padding: 7px 7px;
    cursor: pointer;
    /* font-size: 17px; */
    border-bottom: 1px solid #eeeeee;
}


/* Style items (options): */

.select-items {
    width: 90px;
    text-align: left;
    position: absolute;
    background-color: #fff;
    right: 10px;
    z-index: 9999999999;
    transition: 0.4s;
    display: block;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    max-height: 350px;
    overflow-y: scroll;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 5%);
    border-radius: 5px;
    bottom: -50px;
}


/* Hide the items when the select box is closed: */

.select-hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    cursor: default;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*== Profile Avatar ==*/

.wrap-custom-file {
    height: auto;
    position: relative;
}

.wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.wrap-custom-file label {
    background-image: url(../img/avatar/avatar-1.png);
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 150px;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 150px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label span,
.wrap-custom-file label.file-ok span {
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 2px;
    bottom: -106%;
    display: block;
    font-size: 13px;
    color: #90939c;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    height: 50px;
    left: 170px;
    line-height: 50px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 50px;
    text-align: center;
    width: 160px;
    text-transform: uppercase;
}

.wrap-custom-file label i {
    color: #1947E2;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}

.wrap-custom-file label.file-ok .fa {
    display: none;
}

.wrap-custom-file small.file_title {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    left: 350px;
    position: absolute;
    top: 42%;
}

.avatar-upload {
    position: relative;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 0;
    top: 0;
    width: 27%;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    height: 50px;
    border-radius: 3px;
    background-color: rgb(29, 41, 62);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background-color: #ffffff;
    border: 1px solid #1947E2;
}

.avatar-upload .avatar-edit input+label:hover:after {
    color: #1947E2;
}

.avatar-upload .avatar-edit input+label::after {
    content: "Upload";
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    height: 50px;
    left: 0;
    position: absolute;
    width: 70%;
}

.avatar-upload #imagePreview {
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    height: 100%;
}


.advertisement-block {
    /* margin-top: 70px; */
    margin-bottom: 70px;
}
.advertisement-block img {
    height: auto !important;
}

.contact-1 .contact-innner {
    margin: 0 auto 100px;
}

@media (max-width: 768px) {
    .contact-1 .contact-innner {
        margin: 0 auto 60px;
    }
}

@media (max-width: 992px) {
    .contact-1 .contact-innner {
        margin: 0 auto 80px;
    }
}

/* @media (min-width: 992px) {
    .nav-icons {
        display: none !important;
    }
} */

#chat-application {
    right: 65px !important;
    bottom: 3px !important;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link.icon:hover {
    color: #000 !important;
}

.car-box-3 .ratings i {
    color: #e6e6e6;
}

.details-banner .text .ratings-2 i {
    color: #e6e6e6;
}

/* .car-box-5 img{
height: inherit !important;
} */

.details-banner .cover-buttons ul li a {
    background: rgb(255 180 0);
}

.details-banner .cover-buttons ul li a.disabled {
    background: rgb(187 187 187);
}

/** Shop box start **/

.shop-box {
    margin-bottom: 30px;
    border: none;
    background: #fff;
    z-index: 2;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
    border-radius: 0;
    text-align: center;
}

.shop-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.shop-box .shop-theme {
    position: relative;
}

.shop-box .shop-theme::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.shop-box .shop-theme img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 111;
    width: 100%;
    border-radius: 0;
}

.shop-box .shop-theme::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.shop-box:hover .shop-theme::before,
.shop-box:hover .shop-theme::after {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    visibility: visible;
}

.shop-box .price-box {
    text-align: right;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    font-weight: 600;
}

.shop-box .price-box .del {
    color: red;
    font-size: 13px;
}

.shop-box .price-box span {
    color: #37404d;
}

.shop-box .shop-details .btn {
    padding: 7px 20px 7px;
    font-size: 13px;
    letter-spacing: normal;
}

.shop-box .shop-details {
    padding: 25px 15px 30px;
}

.shop-box .shop-details h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.shop-box .shop-details h5 a {
    font-size: 20px;
}

.shop-box .shop-details h5 {
    font-weight: 500;
    margin-bottom: 13px;
}

.shop-box .shop-theme::before {
    background: rgb(12 62 185 / 51%);
}

.shop-box .shop-theme::after {
    background: rgb(12 62 185 / 51%);
}


/** Cart total box start **/

.cart-total-box {
    padding: 30px;
    background: #fff;
}

.cart-total-box h5 {
    font-weight: 500;
    font-size: 20px;
}

.cart-total-box ul li {
    line-height: 33px;
    width: 100%;
    font-size: 15px;
}


/** Shop checkout start **/

.shop-checkout .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    outline: 0;
    height: 50px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #eaeaea;
}

.shop-checkout .form-group {
    margin-bottom: 20px;
}

.payment-box {
    margin-left: 20px;
}

.payment-box .form-check-label {
    font-size: 20px;
    font-weight: 500;
    color: #212121;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 5px;
}

.payment-box .form-check-input:focus {
    box-shadow: none;
}

.payment-box.form-check-input[type=checkbox] {
    border-radius: 2px;
}

.payment-box .form-check-input {
    margin-left: -20px;
    border-radius: 2px;
}

.shop-info .reviews-box {
    padding: 10px 0;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 20px;
    box-shadow: none;
}

.shop-info .reviews-box ul li {
    float: left;
    font-size: 12px;
    line-height: 25px;
}

.shop-info .btn-md {
    padding: 15.5px 5px 13.5px 5px;
    letter-spacing: 0.5px;
}

.shop-info .reviews-box ul li i {
    margin-right: 1px;
    color: orange;
}

.shop-info .reviews-box .reviews {
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 25px;
}

.shop-info .reviews-box .reviews a {
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 1px #777;
    color: #5a5959;
}

.shop-info .reviews-box .reviews a i {
    margin-right: 5px;
}

.shop-info .reviews-box .reviews a:last-child {
    border-right: solid 1px transparent;
    padding: 0;
    margin: 0;
}

.shop-info .price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.shop-info .price del {
    margin-right: 15px;
}

.shop-info .horizontal ul li {
    line-height: 30px;
    width: 100%;
    font-size: 15px;
}

.shop-info .horizontal ul li span {
    width: 40%;
    float: left;
}

.shop-info p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.shop-info .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    outline: 0;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}


/** SHOP table **/

table {
    width: 100%;
}

.shop-header {
    margin-bottom: 30px;
}

.shop-table.cart .product-thumbnail,
.shop-table.cart .product-name {
    padding-left: 0;
}

.shop-table.cart .product-thumbnail,
.shop-table.cart .product-name a {
    text-transform: none;
    font-size: 15px;
}

.shop-table th {
    padding: 15px 0;
    border: none;
}

.shop-table.cart td,
.shop-table.cart th {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #5a5959;
}

.shop-table.cart .t-600 {
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif;
}

.shop-table.cart .product-remove {
    padding-right: 0;
}

.shop-table td {
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.shop-table.cart .product-thumbnail img {
    width: 100px;
    padding: 2px;
    background: #eaeaea;
}

.shop-table.cart .qty {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.shop-table input[type="text"],
input[type="email"],
textarea,
input[type="password"],
input[type="tel"] {
    border: 1px solid #e8e8e8;
    padding: 6px 15px;
    color: #5a5959;
    max-width: 100%;
    outline: none;
}